table
{
	border:solid 1px black;
}

td div
{
	width: 30px;height: 30px;
}

td
{
	border:solid 1px black;
}

.wall
{
	background-color: blue;
}

.active
{
	background-color: green !important;
}

.start
{
	background-color: #a00;
}

.end
{
	background-color: #f00;
}